@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #fff;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    rgb(138, 185, 255),
    rgb(138, 185, 255) 5%,
    rgb(138, 185, 255) 60%,
    rgb(138, 185, 255) 95%
  );
  --main-bg-dark: conic-gradient(
    from var(--border-angle),
    #fff,
    #fff 5%,
    #fff 60%,
    #fff 95%
  );
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Wotfard', sans-serif;
}

.border-animation{
  transition: margin 150ms;
  border: 2px solid #f8f8f8;
  border-radius: 6px;
}

.border-animation:hover{
  border: 2px solid transparent;
  border-radius: 6px;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, rgb(81, 0, 255), #abd9f3 99%, transparent);
  background: 
    var(--main-bg-dark) padding-box,
    var(--gradient-border) border-box, 
    var(--main-bg) border-box;
    animation: bg-spin 6s linear infinite;
  background-position: center center;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@keyframes an{
  from{
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
  }
}

.text-animation{
  animation: an 500ms ease-out 1 both;
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.chalk-text{
  font-weight: bold;
  padding: 0 .4em;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: 2rem auto 0;
  filter: url(#chalk);
  letter-spacing: 1px;
}

.chalk-text[data-color=light-blue]{
  color: rgb(106, 155, 172);
}

.chalk-text[data-color=yellow]{
  color: rgb(204, 204, 20);
}

.chalk-text[data-color=red]{
  color: rgb(194, 88, 88);
}

.chalk-text[data-color=pink]{
  color: rgb(187, 139, 212);
}

.font-fira-code{
  font-family: "Fira Code", serif;
}

.code-block{
  overflow: auto;
  padding: 16px;
  border-radius: 8px;
  border-color: #e8e8e8;
  width: 100%;
}

.markdown h1 {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 24px;
}

.markdown h3{
  font-size: 26px;
  color: #00a5b8;
  margin: 12px 0;
}

.markdown section{
  margin: 16px 0;
  width: 100%;
}


@keyframes appear {
  from{
    opacity: 0;
    scale: 0.5;
  } to {
    opacity: 1;
    scale: 1;
  }
}

.block-appear{
  animation: appear 1000ms ease-out 1 both;
}

.hidden-animation{
  opacity: 0;
  transition: all 800ms;
  filter: blur(5px);
  transform: translateX(-100%);
}

.show{
  opacity: 1 !important;
  filter: blur(0px) !important;
  transform: translateX(0) !important;
}

.hidden-animation[data-right]{
  opacity: 0;
  transition: all 800ms;
  filter: blur(5px);
  transform: translateX(100%);
}

.animation-block{
  @apply w-full flex gap-y-6 gap-x-3 flex-wrap
}

@media (min-width: 768px){
  .animation-block > div:nth-child(2){
    transition-delay: 600ms;
  }

  .animation-block > div:nth-child(3){
    transition-delay: 1200ms;
  }

  .animation-block > div:nth-child(4){
    transition-delay: 1800ms;
  }

  .animation-skill-block:nth-child(1){
    transition-delay: 0ms;
  }
}

.animation-skill-block:nth-child(2){
  transition-delay: 150ms;
}

.animation-skill-block:nth-child(3){
  transition-delay: 300ms;
}

.animation-skill-block:nth-child(4){
  transition-delay: 450ms;
}

.animation-skill-block:nth-child(5){
  transition-delay: 600ms;
}

.animation-skill-block:nth-child(6){
  transition-delay: 750ms;
}

.animation-skill-block:nth-child(7){
  transition-delay: 900ms;
}

.animation-skill-block:nth-child(8){
  transition-delay: 1050ms;
}

.animation-skill-block:nth-child(9){
  transition-delay: 1200ms;
}

.animation-skill-block:nth-child(10){
  transition-delay: 1350ms;
}

.animation-skill-block:nth-child(11){
  transition-delay: 1500ms;
}