@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff;
  --foreground: #fff;
  --border-angle: 0turn;
  --main-bg: conic-gradient(
    from var(--border-angle),
    rgb(138, 185, 255),
    rgb(138, 185, 255) 5%,
    rgb(138, 185, 255) 60%,
    rgb(138, 185, 255) 95%
  );
  --main-bg-dark: conic-gradient(
    from var(--border-angle),
    #fff,
    #fff 5%,
    #fff 60%,
    #fff 95%
  );
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Wotfard', sans-serif;
}

.border-animation{
  transition: margin 150ms;
  border: 2px solid transparent;
  border-radius: 6px;
}

.border-animation:hover{
  border: 2px solid transparent;
  border-radius: 6px;
  --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, rgb(81, 0, 255), #abd9f3 99%, transparent);
  background: 
    var(--main-bg-dark) padding-box,
    var(--gradient-border) border-box, 
    var(--main-bg) border-box;
    animation: bg-spin 6s linear infinite;
  background-position: center center;
}

@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}

@keyframes an{
  from{
      opacity: 0;
      transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
  }
  to{
      opacity: 1;
      transform: perspective(500px) translate3d(0, 0, 0);
  }
}

.text-animation{
  animation: an 500ms ease-out 1 both;
}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

.chalk-text{
  font-weight: bold;
  padding: 0 .4em;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
  margin: 2rem auto 0;
  filter: url(#chalk);
  letter-spacing: 1px;
}

.chalk-text[data-color=light-blue]{
  color: rgb(106, 155, 172);
}

.chalk-text[data-color=yellow]{
  color: rgb(204, 204, 20);
}

.chalk-text[data-color=red]{
  color: rgb(194, 88, 88);
}

.chalk-text[data-color=pink]{
  color: rgb(187, 139, 212);
}

.font-fira-code{
  font-family: "Fira Code", serif;
}

.code-block{
  overflow: auto;
  padding: 16px;
  border-radius: 8px;
  border-color: #e8e8e8;
}

.markdown h1 {
  font-size: 38px;
  font-weight: 600;
  margin-bottom: 24px;
}

.markdown h3{
  font-size: 26px;
  color: rgb(37 42 49);
  margin: 12px 0;
}

.markdown section{
  margin: 16px 0;
}